<!doctype html>
<html ng-app="SimpleChat">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SimpleChat</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="core.js"></script>
	<script src="http://malsup.github.io/jquery.blockUI.js"></script>
	<style>
		#chatDisplay {
			position: relative;
			height: 100%;
			width: 50%;
			margin: 0 auto;
		}
		#main {
			position: relative;
			top:50px;
			right:0;
			bottom:0;
			left:0;
		}
	</style>
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">SimpleChat</a>
			<ul class="nav navbar-nav" id="userDisplay">
				<li class="active"><a>{{users}}</a></li>
			</ul>
			
			<!-- Login Form -->
			<form class="navbar-form navbar-left" id="logginForm">	
				<button type="submit" class="btn btn-default" ng-click="login()">Login</button>
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="loginForm.text">
				</div>
			</form>

			<form class="navbar-form navbar-right">
				<div class="form-group">
					<button class="btn btn-default" id="logout-btn" ng-click="logout()">Logout</button>
					<button class="btn btn-default" ng-click="clearMessages()">Clear</button>
				</div>
			</form>
		</div>
	</nav>
	<div id="main">
	<div id="chatDisplay">
		<!-- Display messages here -->
		<div>
			<div class="checkbox" ng-repeat="message in messages">
				<label>
					<div class="panel panel-default">
						<div class="panel-body">{{ message.text }}</div>
					</div>
				</label>
			</div>
		</div>
		<!-- Form to send messages -->
		<nav class="navbar-fixed-bottom">
				<form>
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-click="sendMessage()">Send</button>
						</span>
						<input type="text" class="form-control" ng-model="messageForm.text">
					</div>
				</form>
		</nav>		
	</div>
	</div>
</body>
</html>